.stfcMainContainer {
  background-color: #727376;
  display: flex;
  gap: 100px;
}

.stfcContainer {
  margin: 100px 70px;
  display: flex;
  gap: 100px;
}

.imgPerson1Container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgPerson1 {
  width: 600px;
}

.telefone {
  width: 400px;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
